* {
    font-family: "Helvetica", "Verdana", sans-serif;
}

h1 {
    font-family: "Garamond", serif;
    font-size: 48px;
    color: white;
    background-color: purple;
}

h2 {
    font-family: "Garamond", serif;
    font-size: 32px;
    color: white;
    background-color: purple;
}

ul,
ol,
p {
    font-size: 24px;
}

.main-list {
    color: white;
    background-color: blue;
}